.allCard {
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  margin-right: 3%;
}

.cards {
  background-color: dimgrey;
  margin-top: 2em;
  margin-right: 1em;
  height: 18em;
  width: 100%;
  border-radius: 10%;
}
.name {
  display: flex;
  justify-content: space-evenly;
}
.wordingLeft {
  margin-left: 2%;
}
.smaller {
  font-size: x-small;
  margin-left: 2%;
}
.image {
  height: 3em;
  width: 3em;
  margin-left: auto;
  margin-right: auto;
}
.darkerText {
  font-weight: bolder;
}


.bttn{
  margin-left: 40%;
  margin-right: 40%;
  width: 20%;
  background-color: white;
  margin-top: 2%;
}